################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameZone Sports Network/.vs/GameZone Sports Network
